altgraph==0.17.4
macholib==1.16.3
numpy==2.1.3
opencv-python==4.10.0.84
packaging==24.2
pupil_apriltags==1.0.4.post10
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
python-dotenv==1.0.1
python-osc==1.9.0
setuptools==75.6.0
websockets==14.1
