altgraph>=0.17.4
macholib>=1.16.3
numpy>=1.26.4
opencv-python>=4.9.0.80
packaging>=23.2
pupil_apriltags>=1.0.4.post10
pyinstaller>=6.4.0
pyinstaller-hooks-contrib>=2024.1
python-osc>=1.8.3
websockets>=12.0
